body {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transition: all 0.9s;
}

#quote-box {
  /* background: #fff; */
  background-image: url("https://specials-images.forbesimg.com/imageserve/5dc5e2dd1e3e66000616382c/960x0.jpg?cropX1=0&cropX2=959&cropY1=0&cropY2=641");
  background-position: center;
  width: 40vw;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px black;
}

#text {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px red;
}

#author {
  text-align: right;
  font-size: 1.75vw;
  margin-right: 4vw;
  color: #fff;
}

#btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-top: 40px;
  color: #fff;
}

#new-quote {
  outline: none;
  border: none;
  padding: 1.5vw;
  font-size: 1.4vw;
  font-weight: 700;
  font-style: italic;
  background: red;
  border: outset 2px;
  border-radius: 10px;
  cursor: pointer;
}

#new-quote:hover {
  background-color: rgb(136, 0, 2);
  transition: 0.5s;
  transform: scale(0.9);
  color: white;
}

#new-quote:active {
  background-color: rgb(97, 1, 2);
  transform: translateY(5%);
}

#socials-wrapper {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4.5vw;
  /* background: pink; */
}

#tweet-quote {
  cursor: pointer;
  color: #fff;
}

#tweet-quote:hover {
  color: #55acee;
  transition: 0.5s;
  transform: scale(1.1);
}
